:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

body {
  background-color: #fafafa;
  font-size: 15px;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  align-items: center;
}

#script_holder {
  display: hidden;
}

#terminal_manager {
  width: 100%;
  height: 100%;
  background-color: #ececec;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#terminal_view {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#terminal_manager_info_text {
  text-align: center;
}

#remoteHostList {
  height: 85%;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
}

#remoteHostOptions {
  width: 10%;
  height: 100%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reconnect_info {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#reconnect_bt {
  width: 45px;
  height: 30px;
}

.base_bt {
  color: black;
  border-radius: 10px;
  border: solid #8c8c8c 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  cursor: pointer;
  height: 35px;
}

.base_bt:hover {
  border: solid #8c8c8c 2px;
  height: 33px;
}

.terminal_node {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.remote_host {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.remote_host_info {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #337ab7;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.remote_host_buttons {
  display: none;
  flex-direction: row;
  #background-color: #b7338b;
  padding-top: 5px;
  gap: 8px;

}

.remote_host_info:hover {
  background-color: #66b2ff;
}

.remote_host_info.selected {
  background-color: #0056b3;
  color: white;
  border: 2px solid #004085;
}

.remote_host_info.selected:hover {
  background-color: #0056b3;
}

.remote_host_name {
  font-size: 16px;
  margin-bottom: 8px;
}

.remote_host_user {
  font-size: 12px;
}


.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.term-box {
  --default-term-box-size: 44px;
  --term-plus-line-lenght: calc(var(--default-term-box-size)*0.8);
  --term-plus-line-width: calc(var(--default-term-box-size)*0.1);
  --term-circle-size: calc(var(--default-term-box-size)*0.45);
  --term-circle-line-lenght: calc(var(--term-circle-size)*0.8);
  --term-circle-line-width: calc(var(--term-circle-size)*0.1);
  --term-promt-line-lenght: calc(var(--default-term-box-size)*0.25);
  --term-promt-line-width: calc(var(--default-term-box-size)*0.1);
  display: flex;
  align-items: center;
  height: var(--default-term-box-size);
  width: var(--default-term-box-size);
  background-color: black;
  border-radius: 10%;
  cursor: pointer;
}

.term-box-prompt-line {
  position: absolute;
  display: none;
  width: var(--term-promt-line-lenght);
  height: var(--term-promt-line-width);
  background-color: white;
  border-radius: 10%;
  transform: translate(calc(var(--default-term-box-size)*0.1), calc(var(--default-term-box-size)*-0.25));
}

.term-box-prompt-line.selected {
  background-color: #8ec4ff;
}

.term-box-plus-line-hori {
  position: absolute;
  width: var(--term-plus-line-lenght);
  height: var(--term-plus-line-width);
  background-color: white;
  border-radius: 10%;
  transform: translateX(calc(calc(var(--default-term-box-size) - var(--term-plus-line-lenght))*0.5));
}

.term-box-plus-line-vert {
  position: absolute;
  width: var(--term-plus-line-width);
  height: var(--term-plus-line-lenght);
  transform: translateX(calc(calc(var(--default-term-box-size) - var(--term-plus-line-width))*0.5));
  background-color: white;
  border-radius: 10%;
}

.term-box-circle {
  position: relative;
  display: none;
  left: calc(var(--default-term-box-size) - calc(var(--term-circle-size)*0.5));
  top: calc(var(--default-term-box-size)*-0.5);
  width: var(--term-circle-size);
  height: var(--term-circle-size);
  border-radius: 50%;
  background-color: red;
}

.term-box-circle-line {
  position: absolute;
  top: calc(calc(var(--term-circle-size) - var(--term-circle-line-lenght))*0.5);
  left: calc(calc(var(--term-circle-size)*0.5) - calc(var(--term-circle-line-width)*0.5));
  width: var(--term-circle-line-width);
  height: var(--term-circle-line-lenght);
  background-color: white;
  border-radius: 5%;
}

.diagonal-down {
  transform: rotate(-45deg);
}

.diagonal-up {
  transform: rotate(45deg);
}